extends layout

block content
  h3 Edit any user's allowed days
    each userin in userinfo
      div.row
        .col-xs-6
          h3 #{userin.name}
        .col-xs-6
          a(href= '/userpasswords/#{userin.userid}'): button(type="button" class='btn btn-primary') Edit Password