extends layout

block content
  body
      form(id='addUsers', action='/userdays', method='post')
        div(class='center-block' data-role='ui-field-contain' id='regForm')
            fieldset
              // p Not working now. Disconnected from database -- Daniel
              h6(for='user') Userid: 
                input(id='user', name='user' type='number')
              button(type='submit', onclick="", class='btn btn-default', value='Submit') Register



